openesb/Tienda_00/AplicacionTuLibroOnline/src/jbiServiceUnits/ServiciosVenta/ServicioMensajeria/localhost_21940/MensajeriaExpress/EnvioPaquetesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://mensajeria.webservice.adictosaltrabajo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mensajeria.webservice.adictosaltrabajo.com/">

<xs:element name="enviarProducto" type="tns:enviarProducto"/>

<xs:element name="enviarProductoResponse" type="tns:enviarProductoResponse"/>

<xs:complexType name="enviarProducto">
<xs:sequence>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="idPedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>